In [83]:
from __future__ import annotations # To prevent Subscript for class "list" will generate runtime exception; enclose type annotation in quotes
import seaborn as sns
from sklearn.datasets import make_blobs
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import random
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import math
import scipy
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from Kmeans import *
from decimal import Decimal
from SVD import * 
%matplotlib inline
pd.options.display.max_rows = 4000
pd.options.display.max_columns = 4000

In [84]:
df = pd.read_csv('preprocessed.csv',index_col=0)
Genres=["Action", "Adventure", "Animation", "Children's", "Comedy", "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror", "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western"]
df

,Gender,Age,Occupation,Zip-code,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
UserID,,,,,,,,,,,,,,,,,,,,,,
1,0,0.017857,10,4,0.217393,0.204140,0.783339,0.908396,0.611590,0.077929,1.969498e-02,1.000000,0.119768,0.000000,0.210454,0.639715,0.084501,0.218315,0.133711,0.106284,0.106746,0.069482
2,1,1.000000,16,7,0.607944,0.220268,0.027614,0.057179,0.273131,0.127754,2.163853e-02,1.000000,0.000000,0.004405,0.008810,0.054848,0.022027,0.277536,0.185026,0.330404,0.171806,0.035242
3,1,0.446429,15,5,0.814808,0.901228,0.086421,0.086421,1.000000,0.507604,1.171767e-01,0.271600,0.061728,0.125993,0.037037,0.012346,0.000000,0.148148,0.185183,0.148146,0.049382,0.246910
4,1,0.803571,7,2,0.351200,0.086260,0.190780,0.000000,1.000000,0.006162,3.297305e-02,0.098582,0.024646,0.100681,0.043130,0.177581,0.166454,0.018484,0.123228,0.043130,0.024646,0.024646
5,1,0.446429,20,5,0.218607,0.069765,0.041857,0.065114,0.613948,0.209303,6.046584e-02,1.000000,0.084784,0.027905,0.069764,0.018604,0.065117,0.279075,0.130234,0.320934,0.055813,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0,0.446429,15,3,0.306756,0.147832,0.074446,0.111152,0.603408,0.113353,0.000000e+00,1.000000,0.006686,0.022222,0.127785,0.057785,0.055561,0.283361,0.309043,0.314473,0.094437,0.005553
6037,0,0.803571,1,7,0.254793,0.086194,0.000000,0.046612,0.534129,0.172053,6.340755e-08,1.000000,0.035898,0.068122,0.089691,0.032252,0.114701,0.200757,0.366330,0.648930,0.161439,0.028709
6038,0,1.000000,1,1,0.062499,0.031249,0.187502,0.000000,1.000000,0.434890,1.875069e-01,0.750100,0.205366,0.134377,0.031251,0.430235,0.255207,0.531311,0.031249,0.794578,0.312534,0.306259
6039,0,0.803571,0,1,0.120716,0.160983,0.178186,0.229881,1.000000,0.017270,5.504591e-02,0.465564,0.057470,0.103485,0.000000,0.632172,0.293100,0.465534,0.132181,0.235628,0.143741,0.022988
6040,1,0.446429,6,1,0.156872,0.055993,0.000000,0.016880,0.451107,0.138209,5.087149e-02,1.000000,0.010312,0.038614,0.063348,0.041436,0.061490,0.203759,0.173947,0.244908,0.097236,0.003404

In [85]:
def cluster_to_matrix(X_train,y_train,num_cluster):
    k=Kmeans(K=num_cluster,iter=150,p=2,random_state=42)
    y_pred,_=k.predict(np.array(X_train),choice=0)
    k.centroids=np.array(k.centroids)
    empty_cluster = []
    for idx,i in enumerate(k.clusters):
        if len(i)==0:
            empty_cluster.append(idx)
    X_train2 = pd.concat([X_train,y_train,pd.DataFrame(y_pred,columns=["label"],dtype='int')],axis="columns")
    df_cluster_rep = X_train2.groupby(['label'], as_index=False).mean()
    df_cluster_rep.drop(labels="label",axis="columns",inplace=True)
    matrix = df_cluster_rep.to_numpy()
    final_matrix = []
    j = 0 
    for i in range(num_cluster):
        if i in empty_cluster:
            final_matrix.append(np.zeros(len(df.columns)))
        else:
            final_matrix.append(matrix[j])
            j+=1

    return np.array(final_matrix),k

In [86]:
x_col_size=len(df.columns)-len(Genres)+4

In [87]:
x_col_size

8

In [88]:
y = df[df.columns[x_col_size:]]
x = df.drop(labels=df.columns[x_col_size:],axis="columns")

In [89]:
x

,Gender,Age,Occupation,Zip-code,Action,Adventure,Animation,Children's
UserID,,,,,,,,
1,0,0.017857,10,4,0.217393,0.204140,0.783339,0.908396
2,1,1.000000,16,7,0.607944,0.220268,0.027614,0.057179
3,1,0.446429,15,5,0.814808,0.901228,0.086421,0.086421
4,1,0.803571,7,2,0.351200,0.086260,0.190780,0.000000
5,1,0.446429,20,5,0.218607,0.069765,0.041857,0.065114
...,...,...,...,...,...,...,...,...
6036,0,0.446429,15,3,0.306756,0.147832,0.074446,0.111152
6037,0,0.803571,1,7,0.254793,0.086194,0.000000,0.046612
6038,0,1.000000,1,1,0.062499,0.031249,0.187502,0.000000
6039,0,0.803571,0,1,0.120716,0.160983,0.178186,0.229881
6040,1,0.446429,6,1,0.156872,0.055993,0.000000,0.016880

In [90]:
y

,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
UserID,,,,,,,,,,,,,,
1,0.611590,0.077929,1.969498e-02,1.000000,0.119768,0.000000,0.210454,0.639715,0.084501,0.218315,0.133711,0.106284,0.106746,0.069482
2,0.273131,0.127754,2.163853e-02,1.000000,0.000000,0.004405,0.008810,0.054848,0.022027,0.277536,0.185026,0.330404,0.171806,0.035242
3,1.000000,0.507604,1.171767e-01,0.271600,0.061728,0.125993,0.037037,0.012346,0.000000,0.148148,0.185183,0.148146,0.049382,0.246910
4,1.000000,0.006162,3.297305e-02,0.098582,0.024646,0.100681,0.043130,0.177581,0.166454,0.018484,0.123228,0.043130,0.024646,0.024646
5,0.613948,0.209303,6.046584e-02,1.000000,0.084784,0.027905,0.069764,0.018604,0.065117,0.279075,0.130234,0.320934,0.055813,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.603408,0.113353,0.000000e+00,1.000000,0.006686,0.022222,0.127785,0.057785,0.055561,0.283361,0.309043,0.314473,0.094437,0.005553
6037,0.534129,0.172053,6.340755e-08,1.000000,0.035898,0.068122,0.089691,0.032252,0.114701,0.200757,0.366330,0.648930,0.161439,0.028709
6038,1.000000,0.434890,1.875069e-01,0.750100,0.205366,0.134377,0.031251,0.430235,0.255207,0.531311,0.031249,0.794578,0.312534,0.306259
6039,1.000000,0.017270,5.504591e-02,0.465564,0.057470,0.103485,0.000000,0.632172,0.293100,0.465534,0.132181,0.235628,0.143741,0.022988
6040,0.451107,0.138209,5.087149e-02,1.000000,0.010312,0.038614,0.063348,0.041436,0.061490,0.203759,0.173947,0.244908,0.097236,0.003404

In [91]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.05, shuffle=True, random_state=42)

In [92]:
num_cluster=6

In [93]:
matrix,kmeans_model = cluster_to_matrix(x_train,y_train,num_cluster)

In [94]:
matrix.shape

(6, 22)

In [95]:
matrix

array([[0.72128637, 0.55411835, 8.44410413, 5.40888208, 0.47260131,
        0.26152034, 0.15049795, 0.17038535, 0.59394585, 0.19606188,
        0.0878503 , 0.6881107 , 0.10845989, 0.10381776, 0.17614167,
        0.15535236, 0.12312077, 0.26521134, 0.30446292, 0.36620924,
        0.17454747, 0.09386135],
       [0.72855134, 0.54877436, 8.13220816, 5.42616034, 0.49689592,
        0.26375021, 0.14939762, 0.18057586, 0.62307232, 0.18766863,
        0.0801675 , 0.68049736, 0.10968795, 0.09441783, 0.14783469,
        0.14762396, 0.11739062, 0.27357461, 0.31412437, 0.37252749,
        0.17878423, 0.07979445],
       [0.72764787, 0.54421301, 8.33768913, 5.20357634, 0.46561599,
        0.25115685, 0.14569942, 0.17408602, 0.62319755, 0.18148469,
        0.07441443, 0.68805065, 0.10150555, 0.08688313, 0.16560962,
        0.13512586, 0.11746962, 0.26357314, 0.30335712, 0.36924972,
        0.1676582 , 0.08012965],
       [0.7003367 , 0.54812009, 8.09876543, 5.22334456, 0.46950548,
        0.2508466 , 0.13258626, 0.16348127, 0.63560878, 0.17824945,
        0.07524654, 0.70021471, 0.10752552, 0.09016955, 0.15131942,
        0.1439879 , 0.11129433, 0.2801436 , 0.29200216, 0.37156117,
        0.16050464, 0.08278652],
       [0.73848684, 0.54349742, 7.99835526, 5.35197368, 0.48438229,
        0.25621056, 0.1435012 , 0.18045713, 0.63144623, 0.17132871,
        0.07433013, 0.66483043, 0.1031791 , 0.07898287, 0.16440439,
        0.14783394, 0.11321134, 0.26298649, 0.325964  , 0.3697584 ,
        0.16095683, 0.08772805],
       [0.7319224 , 0.55388637, 8.04409171, 5.42239859, 0.47209926,
        0.25553285, 0.14028498, 0.16738265, 0.61635066, 0.18412143,
        0.07008118, 0.70219681, 0.11076824, 0.0899188 , 0.15227548,
        0.13399948, 0.12219753, 0.26996681, 0.30082994, 0.36936013,
        0.16762538, 0.07986901]])

In [ ]:
def predict(datapoint,kmeans,matrix_clean):
    ''' 
        @input: Takes in a datapoint, kmeans object, and information matrix 
        @output: Returns: rating sorted with index for column name mapping
    '''
    y_pred = kmeans.predictPoint(datapoint)
    inferred_full = matrix_clean[y_pred]
    inferred = inferred_full[x_col_size:]
    sorted_ratings = []
    for idx,element in enumerate(inferred):
        sorted_ratings.append([element,idx+x_col_size])
    sorted_ratings.sort()
    sorted_ratings.reverse()
    return sorted_ratings

In [ ]:
x_test.to_numpy()[0][:x_col_size]
sorted_ratings = predict(x_test.to_numpy()[0][:5],kmeans_model,matrix)
s="Top 5 PREDICTED recommended electives are:\n"
for i in range(5):
    s+=df.columns[sorted_ratings[i][1]]+"\n"
print(s)